.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  & > form > input {
    border: none;
    border-bottom: 0.5px solid grey;
    outline: none;
    padding: 0.5rem;
    margin-right: 10px;
  }
  & > form > button {
    padding: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
